<div class="container">
  <div class="row">
    <div class="col-md-12">
      <img class="detail-image center-block" src={{model.image}}>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-5">
        <span class="detail-title">{{model.title}}</span>
      </div>
      <div class="col-md-2  col-md-offset-4">
        <span class="detail-price">${{model.price}}</span>
      </div>
      <div class="col-md-1">
        <button class="btn btn-default btn-lg" name="add-to-cart" {{action 'addToCart' model}}>Add to Cart</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="detail-headers">Game Description: </p>
      <span class="detail-description">{{model.description}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p  class="detail-headers">Collectors Notes: </p>
      <span class="detail-collector-notes">{{model.collector_notes}}</span>
    </div>
  </div>
</div>
